
// Screen sizes
$screen-xs-min: 425px;  // Tiny phones
$screen-sm-min: 576px;  // Small tablets and large smartphones (landscape view)
$screen-md-min: 768px;  // Small tablets (portrait view)
$screen-lg-min: 992px;  // Tablets and small desktops
$screen-xl-min: 1200px; // Large tablets and desktops

// Margins & Paddings
$margin-sm: 5px;
$margin-lg: 20px;
$padding-sm: 5px;
$padding-lg: 20px;

// Colors
$white: #ffffff;
$light-gray: #ececec;
$dark-grey: #656565;
